$clr-p-blue: hsl(246, 80%, 60%);
$clr-p-l-red: hsl(15, 100%, 70%);
$clr-p-s-blue: hsl(195, 74%, 62%);
$clr-p-l-red-study: hsl(348, 100%, 68%);
$clr-p-l-green: hsl(145, 58%, 55%);
$clr-p-violet: hsl(264, 64%, 52%);
$clr-p-s-orange: hsl(43, 84%, 65%);

$clr-n-v-d-blue: hsl(226, 43%, 10%);
$clr-n-d-blue: hsl(235, 46%, 20%);
$clr-n-desat-blue: hsl(235, 45%, 61%);
$clr-n-p-blue: hsl(236, 100%, 87%);
$clr-n-white: hsl(0, 0%, 100%);




$f-weights: (
    'light': 300,
    'regular': 400,
    'bold': 500,
);