@use '../abstract/variables' as *;

.main-outer-container {
    background-color: $clr-n-v-d-blue;

    .attribution {
        grid-column: 1/-1;
        grid-row: -1/-1;
        align-self: flex-start;
        color: $clr-n-white
    }
}