@use '../abstract/variables' as *;
@use '../abstract/mixins&functions' as *;

.side-card {
    .side-card-sect1 {
        
        background: $clr-p-blue;
    
        .card-photo {
            max-width: 4.5rem;

            img {
             border: 3px solid white;
                border-radius: 50%;
            }
        }
        .flex-wrapper {
            span {
                color: $clr-n-p-blue;
                font-weight: weights(regular);

                font-size: 1rem;
            }
            p {
                color: $clr-n-white;
                font-weight: weights(light);
                font-size: 1.5rem;
                line-height: 1;
            }
        }
    }
    .side-card-sect2{
        border-radius: 0 0 1rem 1rem ;
        background: $clr-n-d-blue;
        padding: 1rem 0;

        .side-card-period {
            background: transparent;
            border: none;
            p{
                font-weight: weights(light);
                color: $clr-n-desat-blue;
                text-decoration: none;
                

                &:hover {
                    color: $clr-n-white
                }
            }

        }
        .active  {

            p{
                color: $clr-n-white !important;
                font-weight: weights(regular);
                
            }
        }



    }
}