@use '../abstract/variables' as *;
@use '../abstract/mixins&functions' as *;

.activity-cards {
    @include respond-to(medium){
        grid-template-columns: repeat(auto-fit, minmax(max(10rem, 15vw), 1fr));
        // gap: clamp(1rem, 0.589rem + 1.013vw, 1.5rem) ;
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    }

    display: grid;
    gap:1.5rem;
    .activity-card {
     @include respond-to(medium){
        height: 15rem;
    }
        display: grid;
        grid-template-rows: 2.3rem 1fr ;      
          
       

        .card-image {
            grid-row: 1/2;
        }
        .card-wrapper {
            @include respond-to(medium){
                grid-template-areas: 
                    'main-wrapper main-wrapper'
                    'act-time act-time'
                    'time-period time-period'
                ;
            }
            
            padding:  1rem;
            // z-index: 1;
            border-radius: 1rem;
            grid-row: 2/3;


            display: grid;
            grid-template-areas: 
                'main-wrapper main-wrapper' 
                'act-time time-period'
            ;
            .main-card-wrapper {
                @include respond-to(medium){
                    align-self: flex-start;
                }
                display: flex;
                justify-content: space-between;
                grid-area: main-wrapper;
            }
            .time-period-wrapper {
                @include respond-to(medium){
                    align-self: flex-start;
                }

                display: flex;
                gap:1rem;
                grid-area: time-period;
                
            }
            .activity-time {
                grid-area: act-time;
            }
            .period-time {
                position: relative;
                &::after {
                    position: absolute;
                    content: '-';
                    left: 105%;
                }
            }
           
        }
        
    }

}