@use '../abstract/mixins&functions' as * ;

.main-outer-container {
    @include respond-to(medium){
        padding:   clamp(1rem, -10.519rem + 28.354vw, 13rem);   
        margin: auto 0;
        min-height: 100vh;

    }
    display: grid;
    padding: 4rem 1rem;


    .main-inner-container {
        @include respond-to(medium){
            padding: 0;
            grid-template-columns: minmax(8rem, 16rem)  1fr ;
            grid-template-areas: 
                'side-c main-card '
                'side-c main-card'
                'side-c main-card'
            ;
        }
        display: grid;
        gap: 1.6rem;
        
        .side-card {
            @include respond-to(medium){
                grid-area: side-c;
            }
        }
        .activity-cards {
            @include respond-to(medium){
                grid-area: main-card;
            }
        }
        
    }
}